/****** Hoja de estilo del ejercicio INDES2.css de canción del pirata*****/
@font-face {
    font-family: miLetra;
    src: url(../fonts/ArchitectsDaughter-Regular.ttf);
}

body{background-color: rgb(221, 221, 221);
        font-family: miLetra;
        color: blanchedalmond;}
#container{background-image: url(/images/fondopirata2.jpg);
            background-size: cover;/*estira en vertical y horizontal para que quepa una sola vez*/
            padding: 30px ;
            background-position: left;
            width: 90%;
            margin: auto;
            }
#poema{background-image: url(../images/pergamino.jpg);
        background-position: 80%;
        width: 300px;
        text-align: center;
        text-shadow: honeydew;
        color: rgb(117, 7, 18);
        padding: 10px;
    
    }